<div class="row">
<div class="col-3">
Side Panel
</div>
<div class="col-9">
<div class="row">
<% @categories.each do |category| %>
<p class="lead"><strong><%= category.name %></strong></p>
<% category.subcategories.each do |subcategory| %>
  <li><%= subcategory.name %></li>
<% end %>
<% end %>
</div>
</div>
</div>